<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Tabs Info</title>
    <script type="module" src="/static/js/popup_main.js"></script>
</head>
<body>
    <h2>我是点击按钮以后出现的浏览器窗口</h2>

    <button id="btn1">获取页面title</button>
    <fieldset>
        <legend>页面title</legend>
        <pre id="show_title"></pre>
    </fieldset>
</body>
</html>